.animation-element.fade-in {
  opacity: 0;
  -webkit-transition: all 1500ms ease-in-out;
     -moz-transition: all 1500ms ease-in-out;
       -o-transition: all 1500ms ease-in-out;
          transition: all 1500ms ease-in-out;
}
.animation-element.fade-in.in-view {
  opacity: 1;
}

.animation-element.slide-right {
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
     -moz-transition: all 1000ms ease-in-out;
       -o-transition: all 1000ms ease-in-out;
          transition: all 1000ms ease-in-out;
   -webkit-transform: translate3d(-250px, 0px, 0px);
      -moz-transform: translate3d(-250px, 0px, 0px);
       -ms-transform: translate(-250px, 0px);
        -o-transform: translate(-250px, 0px);
           transform: translate3d(-250px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-left {
  opacity: 0;
  -webkit-transition: all 1500ms ease-in-out;
     -moz-transition: all 1500ms ease-in-out;
       -o-transition: all 1500ms ease-in-out;
          transition: all 1500ms ease-in-out;
   -webkit-transform: translate3d(500px, 0px, 0px);
      -moz-transform: translate3d(500px, 0px, 0px);
       -ms-transform: translate(500px, 0px);
        -o-transform: translate(500px, 0px);
           transform: translate3d(500px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-up {
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
     -moz-transition: all 1000ms ease-in-out;
       -o-transition: all 1000ms ease-in-out;
          transition: all 1000ms ease-in-out;
   -webkit-transform: translate3d(0px, 150px, 0px);
      -moz-transform: translate3d(0px, 150px, 0px);
       -ms-transform: translate(0px, 150px);
        -o-transform: translate(0px, 150px);
           transform: translate3d(0px, 150px, 0px);
}
.animation-element.slide-up.timed-1 {
  -webkit-transition: all 1250ms ease-in-out;
     -moz-transition: all 1250ms ease-in-out;
       -o-transition: all 1250ms ease-in-out;
          transition: all 1250ms ease-in-out;
}
.animation-element.slide-up.timed-2 {
  -webkit-transition: all 1500ms ease-in-out;
     -moz-transition: all 1500ms ease-in-out;
       -o-transition: all 1500ms ease-in-out;
          transition: all 1500ms ease-in-out;
}
.animation-element.slide-up.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.animation-element.scale {
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
     -moz-transition: all 1000ms ease-in-out;
       -o-transition: all 1000ms ease-in-out;
          transition: all 1000ms ease-in-out;
   -webkit-transform: scale(0);
      -moz-transform: scale(0);
       -ms-transform: scale(0);
        -o-transform: scale(0);
           transform: scale(0);
}

.animation-element.scale.in-view {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

/*animation element sliding left*/


/* Animate elements inside a container */

.animation-element .slide-up {
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
     -moz-transition: all 1000ms ease-in-out;
       -o-transition: all 1000ms ease-in-out;
          transition: all 1000ms ease-in-out;
   -webkit-transform: translate3d(0px, 150px, 0px);
      -moz-transform: translate3d(0px, 150px, 0px);
       -ms-transform: translate(0px, 150px);
        -o-transform: translate(0px, 150px);
           transform: translate3d(0px, 150px, 0px);
}

.animation-element.in-view .slide-up {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.animation-element .scale {
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
     -moz-transition: all 1000ms ease-in-out;
       -o-transition: all 1000ms ease-in-out;
          transition: all 1000ms ease-in-out;
   -webkit-transform: scale(0);
      -moz-transform: scale(0);
       -ms-transform: scale(0);
        -o-transform: scale(0);
           transform: scale(0);
}

.animation-element.in-view .scale {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.gallery.row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
.gallery-rollover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.gallery-rollover h2 {
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: relative;
    visibility: hidden;
    top: -73px;
    opacity: 0;
}

.gallery-content-wrap:hover .gallery-rollover h2 {
    visibility: visible;
    top: 0;
    opacity: 1;
}

.gallery-rollover .catalog{
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  visibility: hidden;
  color: white;
  opacity: 0;
}

.gallery-content-wrap:hover .gallery-rollover .catalog{
  visibility: visible;
  opacity: 1;
}

.gallery-rollover::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 15px;
    right: 15px;
    bottom: 17px;
    border: 2px solid white;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 0.2s ease, opacity 0.2s ease;
    -o-transition: transform 0.2s ease, opacity 0.2s ease;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.gallery-content-wrap:hover .gallery-rollover::before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.gallery-content-wrap> img {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.gallery-content-wrap:hover> img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
