.jumbotron.front_page{
  background-image: url('../images/ndvi.jpg');
  color: white;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 30px;
        padding-bottom: 30px
    }
}

.page-header{
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: 1px solid #e6e6e6;

}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;

  }

.carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;

}

.carousel-caption a{
  color: white;
}

.light-carousel-caption{
color:black;

}

.front-list ul,
ul.front-list{
  list-style-type: none;
}

.front-list ul{
  padding-left: 20px;
}

/* Navbar Styles */
.navbar{
  background-color: #404040;
  min-height: 25px;
  margin-bottom: 0px;
}

.navbar-inverse{
  border-color: transparent;
}

.header-nav{
  background-color: #404040;
  color: white;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.header-nav hr{
  margin: 5px 0px;
  border-color:#f47920;
}

.header-logo-div{
  padding: 20px 0px;
}

.header-logo-div img{
  width: 150px;
}

.isu-div{
  text-align: center;
  font-size: 20px;
}

.isu-div img{
  width: 100px;
}

.isu-div a{
  color: white;
}

.project-title{
  font-size: 20px;
  margin: 0px;
}

.project-title p{
  margin: 0px;
}

.header-nav .row{
  margin-bottom: 0px;
}

.navbar-nav > li > a{
  padding: 5px 10px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #f47920;

}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #f47920;

}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #f47920;
    color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #f47920;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #f47920;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #f47920;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #f47920;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #f47920;
}
/* End Navbar Styles */


/* Footer Styles */

.footer{
  padding: 10px 0px;
  margin-top: 20px;
  background-color:  #404040;
  color: #eaeaea;
  text-align: center;
}

/* End Footer Styles */

.carousel-inner p a{
  color: white;
  font-size: 12px;

}

.table-display {
    display: table;
    width: 100%;
    height: 100%;
}
.link-content {
    display: table-cell;
    vertical-align: middle;
}

.featurette-heading{
  text-align: center;
}

.bar-header{
  color: white;
  font-size: 20px;
  font-weight: 400;
  background-color: #404040;
  padding: 10px;
  margin-bottom: 10px;
}

.row{
  margin-bottom: 20px;
}

a.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 60px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #f47920;
  opacity: .5;
}

a.back-to-top:hover{
  opacity: .75;
}

.back-to-top span {
  font-size: 35px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
  background-color: #f47920;
  border-color: #f47920;
}

.pagination > li > a{
  color: #f47920;
}

.pagination > li > a:focus,
.pagination > li > a:hover{
  color: #d6600b;
}


.caption{
  font-size: 16px;
  margin: 10px 0px;
}
