
.gallery a {
    color: white;
}
.gallery a:hover {
    color: #d2d2d2;
    text-decoration: none;
}

.marketing .gallery> div {
    padding: 0px;
    margin-bottom: 0px;
    z-index: 100;
    overflow: hidden;
}

.gallery-div {
  opacity: 0;
  position: relative;
}
