<footer class="footer">
  <div class="container">
    <p class="text-muted"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016 Donna Delparte ~ All rights reserved.</p>
  </div>
</footer>
