<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Delparte Labs</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="index"><a href="">Home</a></li>
        <li id="research"><a href="research.html">Research</a></li>
        <li id="teaching"><a href="teaching.html">Teaching</a></li>
        <li id="outreach"><a href="outreach.html">Outreach</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="students"><a href="students.html">Current</a></li>
            <li id="graduates"><a href="graduates.html">Former</a></li>

          </ul>
        </li>
        <li id="demos"><a href="demos.html">Demos</a></li>
        <li id="data"><a href="data.html">Data</a></li>
        <li id="about"><a href="about.html">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.isu.edu/"><img src="assets/images/isu_logo.png"></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
